{% include "header.html" %}

{% block content %}
<form action="/libreria/libros/crear/" method="POST">

    {% csrf_token %}
<br>

    <table>
        <tr>
            <th>
                <label for="id"> Id: </label>
                <input id="id" type="number" name="id" value="">
            </th>
        </tr>

        <tr>
            <th>
                <label for="nombre"> Nombre: </label>
                <input id="nombre" type="text" name="nombre" value="">
            </th>
        </tr>

        <tr>
            <th>
                <label for="especie"> Especie </label>
                <input id="especie" type="text" name="especie" value="">
            </th>
        </tr>

        <tr>
            <th>
                <label for="nivel"> Nivel </label>
                <input id="nivel" type="number" name="nivel" value="">
            </th>
        </tr>

        <tr>
            <th>
                <label for="habilidad"> Habilidad </label>
                <input id="habilidad" type="text" name="habilidad" value="">
            </th>
        </tr>
    </table>
    <input type="submit" value="Crear">

</form>

{% endblock %}