<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="--bs-body-bg: var(--bs-gray-800);background: #222222;">
        <div class="container"><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="--bs-body-bg: var(--bs-gray-800);--bs-body-color: #ffffff;"><img src="assets/img/Sin-título-2.png">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">¿Qué es?</a></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white d-flex masthead" style="background: linear-gradient(black, rgba(255,255,255,0)), url(&quot;https://d28ipuewd7cdcq.cloudfront.net/assets/article/2020/02/17/pokemon-home-gts-logo_feature.png&quot;) no-repeat, var(--bs-gray-800);background-size: auto, contain, auto;">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong>Bienvenidos/as a la global trade station</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">El proyecto GTS (Global Trade Station) es un intento de trabajo de la asignatura de Lenguaje de Marcas para replicar en forma de web la funcionalidad de la GTS</p><a class="btn btn-primary btn-xl" role="button" href="#services" style="background: rgb(64,145,240);--bs-primary: #4091f0;--bs-primary-rgb: 64,145,240;">Descubre más</a>
            </div>
        </div>
    </header>
    <section id="about" class="bg-primary" style="background: linear-gradient(#4091f0, #4091f0), rgb(64,145,240);border-color: rgb(33, 37, 41);color: rgb(33, 37, 41);">
        <div class="container">
            <div class="row">
                <div class="col offset-lg-8 text-center mx-auto">
                    <h2 class="text-white section-heading">¿Qué es la GTS?&nbsp; &nbsp;<img class="img-fluid" src="assets/img/Me_988TLP4G1mJxoUIsfmFgz8k0gc_g4r_PzJpfgUss.png" style="height: 87px;"></h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4" style="color: var(--bs-gray-100);"><br>El&nbsp;<strong>Global Terminal</strong>, conocido anteriormente como&nbsp;<strong>Global Trade Station</strong>&nbsp;(GTS en siglas) y conocido en España como&nbsp;<strong>Terminal Global</strong>, es un lugar dentro de los videojuegos de Pokémon para la videoconsola portátil Nintendo DS&nbsp;en sus versiones Diamante, Perla, Platino, Heartgold y Soulsilver en donde es posible realizar intercambios de Pokémon con cualquier persona del mundo a través de conexión Wi-Fi.<br><br></p><a class="btn btn-light btn-xl" role="button" href="#services">¡Vamos a comenzar!</a>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="p-0"></section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/creative.js"></script>
</body>

</html>